* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  background: url("https://images.unsplash.com/photo-1611077544170-be90a2f68add");
  background-color: #fcbc05;
  background-size: 100vh;
  background-position: 100vh 35vh;
  background-repeat: no-repeat;
}

h1 {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
}

.table {
  background-color: rgb(250 245 239 / 64%);
  color: black;
  text-align: center;
  font-size: 17px;
  width: 700px;
  border: solid 3px;
  border-radius: 10px;
  padding: 50px;
  margin: 25px auto;
}

input.weight-js {
  height: 30px;
  background-color: white;
  border: solid 1px black;
  margin-right: 100px;
  padding: 0 0 0 10px;
}

input.height-js {
  height: 30px;
  background-color: white;
  border: solid 1px black;
  padding: 0 0 0 10px;
}

.submit-js {
  width: 140px;
  height: 45px;
  display: flex;
  justify-content: center;
  margin: 70px auto 70px;
  align-items: center;
  font-size: 16px;
  border-radius: 0px;
  background-color: black;
  color: white;
  border: solid white;
  border-radius: 5px;
}
